<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emengencyservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Emengencyservice">
        <activity android:name=".EventReplyByAdminInfo"></activity>
        <activity android:name=".ComplainReplyByAdminInfo" />
        <activity android:name=".EventReplyByAdmin">

        </activity>
        <activity android:name=".ComplainReplyByAdmin" />
        <activity android:name=".replyofRequestEvent" />
        <activity android:name=".Replyofcomplain" />
        <activity android:name=".ComplainInfo" />
        <activity android:name=".EmergencyServiceInfo" />
        <activity android:name=".noticeinfo" />
        <activity android:name=".notificationAdmin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>\
        </activity>
        <activity android:name=".eventinfo" />
        <activity android:name=".notifictionuser" />
        <activity android:name=".Notice" />
        <activity android:name=".Event" >
        </activity>
        <activity android:name=".MainActivity" >

        </activity>
    </application>

</manifest>